
_ReSharper.*
[Tt]est[Rr]esult*
[Bb]in/
[Oo]bj/
*.suo
*.user
sql/
*.dbmdl
*.ncrunch*
*.crunchsolution*
*.Publish.xml
*.dbproj.schemaview
/packages
*.pubxml
*.eml
*.sln.DotSettings
Web.Release.config
.vs/